<h1>HTML GO HERE</h1>

<% "This is just for performing ruby operations, such as iterating, or setting variables" %>
<% "It will not show up in the HTML" %>
<% language = "HTML" %>

<%= "The return statement of this will render as #{language}" %>

<%# This is a comment, but in ruby %>
